asgiref==3.8.1
blinker==1.8.2
click==8.1.7
Django==5.0.7
Flask==3.0.3
fpdf==1.7.2
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.0.1
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
repoze.lru==0.7
Routes==2.5.1
six==1.16.0
sqlparse==0.5.1
tzdata==2024.1
Werkzeug==3.0.3
